.wrapper {
  font-size: 1.5em;
}

.box.px {
  width: 600px;
  background-color: blue;
}

.vw {
  width: 10vw;
  background-color: cyan;
}

body {
  font-size: 40px;
}

.em {
  width: 10em;
  background-color: #3f4;
  color: white;
}

.ems li{
  font-size: 1.3em;
}

.rems li {
  font-size: 1.3rem;
}
