article p:first-child {
  font-size: 120%;
  font-weight: bold;
}

article p:first-line {
  background-color: #ccc;
}

article p::selection {
  color: white;
  background-color: gold;
}

article p:first-child::first-line {
  font-size: 200%;
  font-family: sans-serif;
}

.box::before {
  content: "";
  height: 10px;
  width: 100%;
  background-color: purple;
  display: block;
}

.box::after {
  content: "";
  height: 10px;
  width: 100%;
  background-color: purple;
  display: block;
}
